<ng-container [ngSwitch]="type">
    <menu-bottled *ngSwitchCase="'BottleItem'" [items]="items"></menu-bottled>
    <menu-drinks *ngSwitchCase="'DrinkItem'" [items]="items"></menu-drinks>
    <menu-foodItemwfries *ngSwitchCase="'FoodItemwFries'" [items]="items"></menu-foodItemwfries>
    <menu-liquors *ngSwitchCase="'LiquorItem'" [items]="items"></menu-liquors>
    <menu-miscfooditem *ngSwitchCase="'MiscFoodItem'" [items]="items"></menu-miscfooditem>
    <menu-tap *ngSwitchCase="'TapItem'" [items]="items"></menu-tap>
    <menu-wine *ngSwitchCase="'WineItem'" [items]="items"></menu-wine>
</ng-container>
