<nav class="navbar">
    <a id="homeImage" routerLink="home" matTooltip="Go to the Home Page" mat-button><img id="Z-img"
            src="../../../assets/img/android-chrome-512x512.png"></a>
    <a class="nav-link" routerLink="home" routerLinkActive="active" mat-icon-button matTooltip="Home Page">
        <mat-icon>home</mat-icon>
    </a>
    <a class="nav-link" routerLink="menu" routerLinkActive="active" mat-button matTooltip="Food and Drink Menu">Food and
        Drinks</a>
    <a class="nav-link" routerLink="games" routerLinkActive="active" mat-button matTooltip="Game Menu">Game Menu</a>
</nav>
