@import "variables";

h1 {
  text-align: center;
}
.position-header {
  grid-column-start: 1;
  grid-column-end: -1;
  margin: 5px auto;
  border-bottom: 5px solid white;
}
.workers {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.workerImage {
  width: 400px;
  margin-bottom: 10px;
  margin-right: 5px;
}
.workerInfo {
  margin-bottom: 10px;
  margin-right: 5px;
}
.workerQuote {
  font-style: italic;
}

@media only screen and (max-width: $mobile-size) {
  .workers {
    grid-template-columns: 1fr;
    width: 90%;
    padding-right: 10px;
  }
  .workerImage {
    width: 300px;
  }
}
