<mat-accordion>
    <mat-expansion-panel *ngFor="let item of items" class="menuoption">
        <mat-expansion-panel-header class="mat-expansion-panel-header-description">
            <mat-panel-title>{{item.name}}</mat-panel-title>
            <mat-panel-description>
                {{item.price | currency:'USD' }}
            </mat-panel-description>
        </mat-expansion-panel-header>
        <mat-panel-description>
            <p *ngIf="item.ingredients">{{item.ingredients}}</p>
            <p>{{item.note}}</p>
        </mat-panel-description>
    </mat-expansion-panel>
</mat-accordion>
