<div class="container">
    <h1>Contact Us</h1>
    <div class="flex">
        <mat-card>
            <mat-card-content>
                <h4>Open a channel (phone)</h4>
                <a href="tel:1-316-992-0300">(316) 992-0300</a>

                <h4>Use a familiar (e-mail)</h4>
                <a href="mailto:GrinningGoblin@GGtavern.pub" target="_blank"
                    matTooltip="Open your default email in another tab/app">GrinningGoblin@GGtavern.pub</a>

                <h4>Find us in the real world <br> (we haven't open a location in the Matrix.. sorry)</h4>
                <p>1625 S Rock Rd. Suite 135, Wichita, Kansas 67207</p>
                <p>We're on the SW corner of Rock and Harry.</p>
                <div class="iframe-container ratio-4x3">
                    <iframe
                        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3158.360227662499!2d-97.24830218440957!3d37.664242526283765!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x2d530a5b5d8e567!2sGrinning%20Goblin%20Gaming%20Tavern!5e0!3m2!1sen!2sus!4v1574015529367!5m2!1sen!2sus"
                        style="border:0;" allowfullscreen="">
                    </iframe>
                </div>
            </mat-card-content>
        </mat-card>
        <div class="facebook">
            <div class="iframe-container ratio-4x3">
                <iframe
                    src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2FGGTavern%2F&tabs=timeline&width=340&height=500&small_header=false&adapt_container_width=true&hide_cover=false&show_facepile=true&appId"
                    style="border:none;overflow:hidden" scrolling="no" allowTransparency="true"
                    allow="encrypted-media"></iframe>
            </div>
        </div>
    </div>
</div>
