<div class="old-style title">
    <h1> {{ title }} </h1>
</div>
<div class="doorway old-style">
    <ng-container *ngFor="let offer of offerings">
        <div [id]="offer.id" class="griditem">{{offer.text}}</div>
    </ng-container>
    <img class="logo griditem" width="300" alt="Goblin Logo" src="assets/img/ggTavern.png">
</div>
<div class="mobile">
    <img class="logo griditem" width="300" alt="Goblin Logo" src="assets/img/ggTavern.png">
</div>
<div style="text-align: center">
    <a routerLink="/menu">Food Menu</a>
</div>
<router-outlet></router-outlet>