@import "~@angular/material/theming";
@import "variables";

.navbar {
  width: 100%;
  display: flex;
  padding: 5px 10px;
  background-color: #333;
  height: auto;
  min-height: auto;
  justify-content: initial;
}

#homeImage {
  display: block;
  height: auto;
  width: 55px;
  padding: 0;
}

.container {
  justify-content: flex-start;
}

.navbar img {
  float: left;
  display: block;
  margin-right: 1em;
  width: 52px;
}

.navbar .linkImage {
  width: 52px;
  height: auto;
  padding: 0;
}

.navbar .nav-link {
  background-color: transparent;
  color: #f2f2f2;
  text-align: center;
  text-decoration: none;
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 0.5em;
}

center {
  margin: auto;
}

.navbar a:hover,
button:hover {
  background-color: #ddd;
  color: black;
  cursor: pointer;
}

.navbar a.active,
.active {
  background-color: mat-color($primary);
  color: white;
}

.mobileButton {
  display: none;
  margin-right: 10px;
}

/* When the screen is less than 600 pixels wide, hide all links, except for the first one ("Home"). Show the link that contains should open and close the navbar (.mobileButton) */
@media screen and (max-width: 600px) {
  // Navbar when not showing items
  .navbar {
    justify-content: space-between;
  }

  .navbar a:not(:first-child) {
    display: none;
  }
  .navbar a.mobileButton {
    float: right;
    display: block;
  }

  // Navbar when showing items
  .navbar.responsive {
    flex-direction: column;
    justify-content: space-between;
    position: relative;
  }
  .navbar.responsive .homeButton {
    display: none;
  }
  .navbar.responsive a.mobileButton {
    position: absolute;
    right: 5px;
    top: 5px;
  }
  .navbar.responsive a {
    display: block;
    margin-right: 25px;
  }
}
