<mat-accordion>
    <ng-container *ngFor="let item of items">
        <mat-expansion-panel class="menuoption">
            <mat-expansion-panel-header class="mat-expansion-panel-header-description">
                <mat-panel-title>{{item.name}}</mat-panel-title>
                <mat-panel-description>
                    {{item.price | currency:'USD' }}
                </mat-panel-description>
            </mat-expansion-panel-header>
            <mat-panel-description>
                <div>
                    <p>{{item.description}}</p>
                    <p *ngIf="item.types">Choice of: {{item.types}}</p>
                    <p>{{item.note}}</p>
                </div>
            </mat-panel-description>
        </mat-expansion-panel>
    </ng-container>
</mat-accordion>
