<div class="block">
  <mat-toolbar color="primary" class="toolbar">
    <button mat-icon-button id="navBurger" (click)="openNav()" [matTooltip]="burgerTip" matTooltipPosition="below">
      <mat-icon>menu</mat-icon>
    </button>
    <h1 class="app-name">{{headerText}}</h1>
  </mat-toolbar>
  <div class="block">
    <div class="grid container block">
      <div class="overlay" id="contentsNav">
        <a *ngIf="mobile" href="javascript:void(0)" class="closebtn" (click)="closeNav()">&times;</a>
        <ng-scrollbar class="sideNav">
          <mat-nav-list class="overlay-content">
            <a class="navItem" mat-list-item [routerLink]="navItem.link" routerLinkActive="active"
              *ngFor="let navItem of navItems" (click)="changeContent()">{{navItem.text}}</a>
          </mat-nav-list>
        </ng-scrollbar>
      </div>
      <div class="content">
        <ng-scrollbar #contentScroll>
          <router-outlet></router-outlet>
        </ng-scrollbar>
      </div>
    </div>
  </div>
</div>
