@import "~@angular/material/theming";
@import "variables";

.z-container {
  display: flex;
  flex-direction: column;
  position: static;
  height: 100%;
}

.mobile .toolbar {
  position: fixed;
  /* Make sure the toolbar will stay on top of the content as it scrolls past. */
  z-index: 2;
}

h1.app-name {
  margin-left: 8px;
}

mat-sidenav-container {
  /* When the sidenav is not fixed, stretch the sidenav container to fill the available space. This
       causes `<mat-sidenav-content>` to act as our scrolling element for desktop layouts. */
  flex: 1;
}

mat-sidenav-container.is-mobile {
  /* When the sidenav is fixed, don't constrain the height of the sidenav container. This allows the
       `<body>` to be our scrolling element for mobile layouts. */
  flex: 1 0 auto;
}

a.active,
.active {
  background-color: mat-color($primary) !important;
  color: white !important;
}
a:hover,
button:hover,
[mat-list-item]:hover {
  background-color: #ddd;
  color: black;
  cursor: pointer;
}

mat-nav-list {
  margin: 5px;
}
a.navItem {
  border-radius: 10px;
  font-size: 14px;
}

mat-sidenav.mobile {
  margin-top: 65px;
}
