@import "~@angular/material/theming";
@import "variables";

#navBurger {
  display: none;
}
.block {
  height: 100%;
}
.grid {
  display: grid;
  grid-template-columns: minmax(100px, max-content) 1fr;
}

.sideNav {
  height: 80%;
  width: 150px;
}
a.active,
.active {
  background-color: mat-color($primary) !important;
  color: white !important;
}
a:hover,
button:hover,
[mat-list-item]:hover {
  background-color: #ddd;
  color: black;
  cursor: pointer;
}
mat-nav-list {
  margin: 5px 10px;
}
a.navItem {
  border-radius: 10px;
  font-size: 14px;
}
.content {
  margin-right: 10px;
  height: 80%;
}
ng-scrollbar {
  --scrollbar-thumb-color: #{mat-color($primary)};
}

@media only screen and (max-width: 768px) {
  /* Mobile */
  #navBurger {
    display: block;
  }
  #navBurger:hover {
    background-color: #ddd;
    color: black;
    cursor: pointer;
  }
}
