<div class="container">
    <div *ngIf="note||isLoggedIn">
        Note: {{note}} <button mat-icon-button *ngIf="isLoggedIn" color="accent" (click)="editNote()">
            <mat-icon>create</mat-icon>
        </button>
    </div>
    <ng-container *ngIf="games">
        <mat-list>
            <ng-container *ngFor="let game of games">
                <mat-list-item>
                    <button mat-icon-button *ngIf="isLoggedIn" [matMenuTriggerFor]="gameMenu"
                        [matMenuTriggerData]="{game:game}">
                        <mat-icon>more_vert</mat-icon>
                    </button>
                    {{game.name}}
                </mat-list-item>
            </ng-container>
        </mat-list>
    </ng-container>
</div>

<mat-menu #gameMenu="matMenu">
    <ng-template matMenuContent let-game="game">
        <button mat-menu-item (click)="editGame(game)">
            <mat-icon>create</mat-icon><span>Edit Game</span>
        </button>
        <button mat-menu-item (click)="deleteGame(game)">
            <mat-icon>delete</mat-icon><span>Delete Game</span>
        </button>
        <button mat-menu-item (click)="addGame()">
            <mat-icon>add</mat-icon>Add Game
        </button>
        <button mat-menu-item (click)="addSystem()">
            <mat-icon>add</mat-icon>Add System
        </button>
        <button mat-menu-item (click)="saveSystem()">
            <mat-icon>save</mat-icon>Save System
        </button>
    </ng-template>
</mat-menu>
