@import "~@angular/material/theming";
@import "variables";

.rules {
  display: flex;
  flex-wrap: wrap;
}

.rule {
  flex-grow: 1;
  border: 5px solid mat-color($accent);
  border-radius: 30px;
  margin: 5px;
  padding: 5px;
}
