.container {
  width: 100%;
  display: flex;
  justify-content: center;
}
img {
  width: 1000px;
}
img-modal.hidden {
  display: none;
}
img-modal {
  display: block;
}

@media screen and (max-width: 600px) {
  img {
    width: 550px;
  }
}
@media screen and (max-width: 500px) {
  img {
    width: 450px;
  }
}
@media screen and (max-width: 400px) {
  img {
    width: 350px;
  }
}
@media screen and (max-width: 300px) {
  img {
    width: 250px;
  }
}
