@import '~@angular/material/theming';
@import 'palettes';

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$primary: mat-palette($md-wood);
$accent: mat-palette($md-gabbygreen);

// The warn palette is optional (defaults to red).
$warn: mat-palette($md-warn, A400);