/* You can add global styles to this file, and also import other style files */
@import "variables";
@import "mixins";

@import url("https://fonts.googleapis.com/css?family=Press+Start+2P&display=swap");

html,
body,
app-root {
  height: 99vh;
  width: 100vw;
  margin: 0;
  overflow: hidden;
}
body {
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
.box {
  display: flex;
}

a {
  color: mat-color($primary);
}

.container {
  padding: 10px;
}

.old-style {
  font-family: "Press Start 2P", cursive;
}

.right-aligned-header > .mat-content {
  justify-content: space-between;
}

.mat-content > mat-panel-title,
.mat-content > mat-panel-description {
  flex: 0 0 auto;
}
